html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #2A3335;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* navbar */
.app-name {
  color: white;
}

.app-version {
  color:aqua;
  font-size: 15px;
  font-weight: 500;
  text-shadow: 0px 1px 10px lightcyan;
}

.logout-submit {
  background-color: transparent;
  color: white;
  border: none;
  margin-top: 7px;
}

/* page: home */

.home-title-content, .home-body-content {
  color: white;
}

.home-body-content p {
  font-size: 20px;
  width: 50%;
  margin: 0px auto 0px auto;
}

.home-btn-signin, .home-btn-signup {
  border: none;
  color: white;
  padding: 10px;
  font-size: 20px;
  background: none;
  position: relative;
  transition: color 0.5s ease-in-out;
}

.home-btn-signin:hover {
  color: #9BEC00;
}

.home-btn-signup:hover {
  color: #FFEA20;
}

/* page: login partial */
.login-title-content, .login-body-content {
  color: #9BEC00;
  font-weight: 450;
}

.login-action-content {
  color: #B9FFF8;
}

.login-input:focus {
  border-color: #9BEC00;
  box-shadow: 0px 1px 10px #9BEC00;
  outline: none;
}

.login-submit {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: gray;
  transition: 0.5s ease-in-out;
}

.login-submit:hover {
  border: 1px solid lime;
  background-color: lime;
  box-shadow: 0px 1px 10px lime;
}

.icon-wink {
  color: #9BEC00;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #9BEC00;
}

/* page: register partial */
.register-title-content, .register-body-content {
  color: #FFD369;
  font-weight: 450;
}

.register-action-content {
  color: #B9FFF8;
}

.register-input:focus {
  border-color: #FFD369;
  box-shadow: 0px 1px 10px #FFD369;
  outline: none;
}

.register-submit {
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: gray;
  transition: 0.5s ease-in-out;
}

.register-submit:hover {
  border: 1px solid yellow;
  background-color: yellow;
  box-shadow: 0px 1px 10px yellow;
}

.icon-handshake {
  color: #FFD369;
  border-radius: 50%;
  text-shadow: 0px 1px 10px #FFD369;
}

/* form inputs: login, register, slot book */
.login-input,
.register-input,
.book-form-input,
.user-edit-profile-input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gainsboro;
  background-color: rgba(255, 255, 255, 0.7);
}

/* page: user profile */
.user-details-identity h3,
.user-details-personal h5,
.user-details-vaccination h5,
.user-details-booking h5 {
  color: #E6E9AF;
}

.user-profile-img {
  margin-top: -10px;
  border-radius: 50%;
}


.user-edit-profile-link {
  padding: 10px;
  color: black;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.5s ease-in-out;
  background-color: goldenrod;
}

.user-edit-profile-link:hover {
  color: black;
  background-color: gold;
  box-shadow: 0px 1px 10px gold;
}

.slot-book-submit {
  padding: 10px;
  color: black;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.5s ease-in-out;
  background-color: aquamarine;
}

.slot-book-submit:hover {
  color: black;
  background-color: aqua;
  box-shadow: 0px 1px 10px aquamarine;
}


/* slot book form page */

/* v2 */

.booking-hospital-list {
  color: white;
  border-radius: 10px 10px 0px 0px;
  background-color: rgba(52, 215, 236, 0.4);
}

.book-form-input:hover {
  border-color: cyan;
  box-shadow: 0px 1px 10px cyan;
  outline: none;
}

.icon-clock, .icon-camp {
  color: cyan;
  border-radius: 50%;
  text-shadow: 0px 1px 10px cyan;
}

/* v1 */

.book-form-submit {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: gray;
  transition: 0.5s ease-in-out;
}

.book-form-submit:hover {
  border: 1px solid aquamarine;
  background-color: aqua;
  box-shadow: 0px 1px 10px aqua;
}

.action-link {
  color: white;
}

.action-link a {
  text-decoration: none;
}

.validation-msg {
  color: red;
}


/* user profile edit form */
.icon-edit {
  color: gold;
  text-shadow: 0px 1px 10px gold;
}

.user-edit-profile-submit {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: gray;
  transition: 0.5s ease-in-out;
}

.user-edit-profile-submit:hover {
  border: 1px solid gold;
  background-color: gold;
  box-shadow: 0px 1px 10px gold;
}

.user-edit-profile-input:focus {
  border-color: gold;
  box-shadow: 0px 1px 10px gold;
  outline: none;
}

/* admin page css */

.admin-desc, .admin-action h5 {
  color: white;
}

.admin-desc-content, .admin-action-panel-head, .admin-app-stats-head {
  padding: 10px;
  color: orange;
  border-radius: 10px;
  background-color: rgba(9, 12, 12, 0.3);
  box-shadow: 0px 1px 10px white;
}

.admin-action-panel-head, .admin-app-stats-head {
  color:lawngreen;
}

.icon-jet, .icon-analytics {
  color: sandybrown;
  rotate: -45deg;
  margin-left: 10px;
  text-shadow: 0px 1px 10px orange;
}

.action-panel-1, .action-panel-2 {
  color: white;
}

.action-approve-table thead {
  background-color: rgba(253, 239, 81, 0.7);
}

.action-approve-table tbody {
  background-color: rgba(245, 245, 220, 0.7);
}

.admin-approve-table {
  color: black;
  border-radius: 10px 10px 0px 0px;
  background-color: rgba(252, 245, 95, 0.7);
}

.admin-update-hospitals {
  color: white;
  border-radius: 10px 10px 0px 0px;
  background-color: rgba(52, 215, 236, 0.4);
}

.admin-slot-update-input {
  width: 50px;
  border-radius: 5px;
  border: 1px solid gainsboro;
  outline: none;
}

.admin-slot-update-submit {
  border: 1px solid lightseagreen;
  box-shadow: 0px 1px 2px lightseagreen;
  background-color: lightseagreen;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}

.admin-slot-update-submit:hover {
  border: 1px solid yellowgreen;
  background-color: yellowgreen;
  box-shadow: 0px 1px 2px lightgreen;
}



